<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TFLite Movie Review Analysis</title>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/tasks@0.0.1-alpha.8"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="textarea-container">
  <textarea placeholder="Enter a movie review"></textarea>
  <div class="btn">
    Analyze
  </div>
</div>
<div class="result"></div>
<!-- partial -->
  <script src="{{ url_for('static',filename='script.js') }}"> </script>

</body>
</html>
